node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

### Reasonml ###
/lib
.merlin
*.bs.js
.bsb.lock

### genType ###
*.gen.tsx
